<p>
  Dear <%= @user.name %>,
</p>

<p>
  The bet <%= @bet.name %> has been closed<br/>
  <%if @winner == @choice %>
  	Congratulations! Your choice was the winner!<br/>
  <%else%>
  	Sorry! Your choice was not a winner. Better luck next time!<br/>
  <%end%>
  To login to the site and see the results, just follow this link: <%= @url %>.
</p>

<p>
  Best regards,<br/>
  Ludopath's staff
</p>