<h1>Home</h1>

<ul>
<li><%= link_to 'Users', users_url %></li>
<li><%= link_to 'Bets', bets_url %></li>
<li><%= link_to 'Choices', choices_url %></li>
<li><%= link_to 'Participations', participations_url %></li>
</ul>
