// Place all the styles related to the Bets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
	width: 90%;
	padding-left: 5%;
}

.bet_list {
	.bet_block {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.summary {
		padding: 5px;
		height: auto;
		color: white;
		background-color: grey;
		border-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		text-align: center;
		table, tr, td {
			border: none;
		}
		td {
			text-align: center;
			width: 5%;
			padding: 0;
			vertical-align: middle;
			border-left: 1px solid black;
			&.index_name {
				width: 12%;
				text-align: left;
				border: none
			}
			&.index_deadline {
				width: 5%;
			}
		}
	}
	.details {
		background-color: #f9f9f7;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		border-right: 1px solid black;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		display: none;
	}
}

.toggle_details {
	padding: 0;
	border: 0;
	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
	}
}

.bet_show {
	width: 90%;
	padding-left: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
	p {
		margin: 10px;
	}
	ul {
		margin: 10px;
	}
}

#new_bet_page {
	text-align: center;

	.form_content {
		display: inline-block;
		label {
			text-align: left;
		}
		.field > input, textarea {
			text-align: left;
			width: 100%;
		}
	}
	.extra_choice {
		width: 100%;
	 input {
		display: inline-block;
		width: auto;	
	}
	}
}