// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-image {
  width: 150px;
  height: 150px;
  border: 1px solid grey;
}

.block {
	display: inline-block;
	vertical-align: middle;
	padding-right: 10px;
}

.user-image {
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  border-radius: 5px;
}

.profile_content, .requests {
	display: inline-block;
	vertical-align: top;
	p {
		margin: 20px;
	}
}

p.friend {
	margin-top: 5px;
	margin-bottom: 5px;
	& > a {
		text-decoration: none;
		color: #555;
			&:hover {
			color: white;
			background: #666;
			}
		}
}

.profile_content p {
	font-size: 15px;
	text-align: left;
}


.user_profile {
	text-align: center;
}

#username {
	margin-top: 5px;
	text-align: center
}

#profile-avatar {
	margin-top: 20px;
	margin-bottom: 10px;
}

#pending_requests {
	.request {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#f_request {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 2px 6px;
	}
}

.bet_summary {
	margin-top: 20px;
	.column {
		vertical-align: top;
		display: inline-block;
		width: 40%;
		margin-right: 4%;
		margin-left: 4%;
		text-align: center;
		.column_title {
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			background-color: #3f9619;
			color: #fffee5;
			padding: 5px;
			padding-left: 10px;
			text-align: left;
		}
		.column_content {
			background-color: #f9f9f7;
			padding-top: 10px;
			padding-bottom: 10px;
			min-height: 20px;
			border-bottom: 1px solid;
			border-left: 1px solid;
			border-right: 1px solid;
			border-color: grey;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}
	}
}

p.bet_link {
	text-align: left;
	font-size: 15px;
	margin: 0;
	margin-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	a{
		text-decoration: none;
		color: #4c4c4c;
		&:hover {
			color: white;
			background: #666;
		}
	}
}

.user_edit_page {
	text-align: center;

	.form_content {
		display: inline-block;
		label {
			text-align: left;
		}
		input {
			text-align: left;
		}
	}
}

p.request {
		text-align: right;
		font-size: 15px;
}

.multiimage {
	display: inline-block;
	p {
		text-align: center;
		margin: 0;
	}
	a {
		text-decoration: none;
		display: inline-block;
	}
	h4 {
		text-align: center;
	}
	.block {
		padding: 5px;
		border-radius: 5px;
		h4, p{
			margin-top: 5px;
			margin-bottom: 5px;
		}
		h4, p {
			text-decoration: none;
			color: #555;
		}
		&:hover {
		background: #666;
		h4, p {
			color: white;
		}
		}
	}

}