// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-image {
  width: 150px;
  height: 150px;
  border: 1px solid grey;
}

.block {
	display: inline-block;
	vertical-align: middle;
	padding-right: 10px;
}

#profile-avatar {
  width: 150px;
  height: 150px;
  border: 1px solid grey;
}

.profile_content, .requests {
	display: inline-block;
	vertical-align: top;
	p {
		margin: 20px;
	}
}

.friend > a {
text-decoration: none;
color: #555;
	&:hover {
	color: white;
	background: #666;
	}
}

.profile_content p {
	font-size: 15px;
	text-align: left;
}


.user_profile {
	text-align: center;
}

#username {
	margin-top: 5px;
	text-align: center
}

#profile-avatar {
	margin-top: 20px;
	margin-bottom: 10px;
}

.user_edit_page {
	text-align: center;

	.form_content {
		display: inline-block;
		label {
			text-align: left;
		}
		input {
			text-align: left;
		}
	}
}

p.request {
		text-align: right;
		font-size: 15px;
}

.multiimage {
	h4 {
		text-align: center;
	}
	.block {
		padding: 5px;
		border-radius: 5px;
		a {
			text-decoration: none;
			color: #555;
		}
		&:hover {
		background: #666;
		a {
			color: white;
		}
		}
	}

}